<!-- nav bar-->
<nav class="navbar navbar-dark bg-secondary">
  <span class="navbar-brand mb-0 h1">Account Login</span>
</nav>

<!--input group-->
<section class="center">
  <div>
    <form method="POST">
      <h1>Account Login</h1>
      <div class="form-group row" style="text-align: center">
        <div class="col-sm-3">
          <input type="email" class="form-control form-control-lg" id="inputEmail3" placeholder="Email" name="account">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <input type="password" class="form-control form-control-lg" id="inputPassword3" placeholder="Password"
            name="pw">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-outline-dark">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</section>